
.item1 { grid-area: header; }
  .item11 { grid-area: headerFoto; }
  .item12 { grid-area: headerTexto; }
.item2 { grid-area: main; }
.item3 { grid-area: main2; }
.item4 { grid-area: main3; }
.item5 { grid-area: main4; }
.item6 { grid-area: footer; }

body{
  margin: 0px;
  margin-top: 30px;
  margin-bottom: 30px;
  background-color: #980a0c;
}

.grid-container {
  display: grid;
  grid-template-areas:
    'header header header header header header'
    'main main main main main main'
    'main2 main2 main2 main2 main2 main2'
    'main3 main3 main3 main3 main3 main3'
    'main4 main4 main4 main4 main4 main4'
    'footer footer footer footer footer footer';
}

.grid-header {
  display: grid;
  grid-template-areas:
    'headerFoto headerTexto headerTexto headerTexto';
}


.grid-container > div {
  width: 1200px;
  height: 630px;
  margin: auto;
  font-size: 30px;
  -webkit-box-shadow: 10px 10px 103px -17px rgba(0,0,0,1);
  -moz-box-shadow: 10px 10px 103px -17px rgba(0,0,0,1);
  box-shadow: 10px 10px 103px -17px rgba(0,0,0,1);
}

.grid-container > .item1{
  background-image: url('/img/fundo_01.png');
  //background-attachment: fixed;
}

.grid-container > .item1 > .grid-header > .item11 > img{
  width: 593px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.grid-container > .item1 > .grid-header > .item12 > h1{
  margin: 0px;
  margin-top: 220px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 900;
  letter-spacing:-11px;
  font-size: 8rem;
  text-transform: uppercase;
  display: block;
  margin-right: auto;
  color: white;
}

.grid-container > .item1 > .grid-header > .item12 > p{
  margin: 0;
  font-family: 'Montserrat', sans-serif;
  font-size: 2rem;
  display: block;
  margin-right: auto;
  color: white;
}

.classeTop{
  position: fixed;
  top: 100px;
  right: 15%;
}

.grid-container > .item2{
  background-image: url('../img/fundo_02.png');
  background-attachment: fixed;
}

.grid-container > .item2 > .albums{
  background-color: white;
  width: 960px;
  height: 530px;
  display: block;
  margin: 50px auto auto auto;
  -webkit-box-shadow: 10px 10px 103px -17px rgba(0,0,0,1);
  -moz-box-shadow: 10px 10px 103px -17px rgba(0,0,0,1);
  box-shadow: 10px 10px 103px -17px rgba(0,0,0,1);
}

.grid-container > .item3{
  background-image: url('img/fundo_03.png');
  background-color: #b70e11;
  background-repeat: no-repeat;
  background-size: 100%;
  text-align: center;
  line-height: 475px;
  height: 475px; !important
  font-family: 'Montserrat', sans-serif;
  font-size: 2rem;
  color: white;
}

.grid-container > .item4{
  background-image: url('img/fundo_02.png');
  background-attachment: fixed;
}

.grid-container > .item4 > .albums{
  background-color: white;
  width: 960px;
  height: 530px;
  display: block;
  margin: 50px auto auto auto;
  -webkit-box-shadow: 10px 10px 103px -17px rgba(0,0,0,1);
  -moz-box-shadow: 10px 10px 103px -17px rgba(0,0,0,1);
  box-shadow: 10px 10px 103px -17px rgba(0,0,0,1);
}

.grid-container > .item5{
  background-color: #b70e11;
  height: 510px;
}

.grid-container > .item5 > .albums{
  background-color: white;
  width: 660px;
  height: 415px;
  display: block;
  margin: 50px auto auto auto;
  -webkit-box-shadow: 10px 10px 103px -17px rgba(0,0,0,1);
  -moz-box-shadow: 10px 10px 103px -17px rgba(0,0,0,1);
  box-shadow: 10px 10px 103px -17px rgba(0,0,0,1);
}


.grid-container > .item6{
  background-color: #980a0c;
  height: 120px;
}

